<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
      body {
        font-family: "Plus Jakarta Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <header class="bg-[#14213D]">
      <div class="flex flex-row px-6 py-4">
        <h2 class="text-md font-semibold text-[#11FC99]">MyITS Cooperative</h2>
      </div>
    </header>
    <div class="flex min-h-screen items-center justify-center gap-8">
      <div>
        <div
          class="flex flex-col items-center justify-center gap-8 px-8 py-16 shadow-xl"
        >
          <div class="flex flex-col justify-center items-center">
            <img src="/public/bank logo.png" alt="bank logo" />
            <h2 class="text-3xl font-bold text-[#14213D]">MyITS Cooperative</h2>
          </div>
          

          <form id="registerForm" action="" class="w-full">
            <div class="flex w-[400px] flex-col gap-4">
              <div class="flex flex-col gap-2">
                <h2 class="text-md font-semibold">Fullname</h2>
                <input
                  type="fullname"
                  placeholder="Username"
                  class="rounded-md border-2 border-[#14213D] px-4 py-2"
                />
              </div>
              <div class="flex flex-col gap-2">
                <h2 class="text-md font-semibold">Alamat</h2>
                <input
                  type="alamat"
                  placeholder="Username"
                  class="rounded-md border-2 border-[#14213D] px-4 py-2"
                />
              </div>
              <div class="flex flex-col gap-2">
                <h2 class="text-md font-semibold">Email Address</h2>
                <input
                  type="email"
                  placeholder="Username"
                  class="rounded-md border-2 border-[#14213D] px-4 py-2"
                />
              </div>
              <div class="flex flex-col gap-2">
                <h2 class="text-md font-semibold">Password</h2>
                <input
                  type="password"
                  placeholder="Password"
                  class="rounded-md border-2 border-[#14213D] px-4 py-2"
                />
              </div>
              <div class="flex flex-col gap-2">
                <h2 class="text-md font-semibold">Confirm Password</h2>
                <input
                  type="confirm_password"
                  placeholder="Password"
                  class="rounded-md border-2 border-[#14213D] px-4 py-2"
                />
              </div>
              <button
                type="submit"
                class="rounded-md bg-[#14213D] px-4 py-2 font-semibold text-white transition ease-in-out hover:bg-[#11FC99] hover:text-[#14213D]"
              >
                Register
              </button>
              <h2>
                Already registered?
                <a
                  href="/src/templates/login-form.html"
                  class="text-#14213D font-semibold transition ease-in-out hover:text-[#11FC99]"
                  >Login</a
                >
              </h2>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      document.getElementById('registerForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const fullname = document.querySelector('input[type="fullname"]').value;
        const alamat = document.querySelector('input[type="alamat"]').value;
        const email = document.querySelector('input[type="email"]').value;
        const password = document.querySelector('input[type="password"]').value;
        const confirm_password = document.querySelector('input[type="confirm_password"]').value;
        const data = {
          "nama": fullname,
          "email": email,
          "password": password,
          "alamat": alamat
        }

        if (password !== confirm_password) {
            alert('Password and Confirm Password do not match!');
            return;
        }

        const endpoint = 'http://localhost:8000/register';

        fetch(endpoint, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
        .then(response => {
          response.json();
          if (response.status === 200) {
            window.location.href = '/src/templates/login-form.html';
          }
        })
        .then(data => {
          console.log(data);
        })
        .catch(error => {
          console.error('Error:', error);
        });
      });
    </script>
  </body>
</html>
